.about-showcase{
    height: 60vh;
    background: linear-gradient(rgba(0, 0, 0,.3),rgba(0, 0, 0,.3)),
    url(/img/about.jpg) no-repeat center center/cover;
}
.title{
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
}
.about{
    padding: 50px 0;
    overflow: hidden;
    .container{
        .flex{
          @include flex;
          gap: 30px;
          img{
              flex: 1;
          }
          .text{
              flex: 1;
              line-height: 1.7;
              font-family: poppins;
              overflow-y: hidden;
              p{
                  margin-bottom: 15px;
                  color: rgba(0, 0, 0,.73);
              }
          }
        }
    }
}

// our team
.team{
    padding: 20px 0 100px;
    .container{
        max-width: 1000px;
        .grid{
            @include grid(200px);
            gap: 30px;
            .card{
                height: 300px;
                background: rgba(0, 0, 0,.1);
                position: relative;
                box-sizing: border-box;
                overflow: hidden;
                &:hover{
                    img{
                        transform: scale(1.2);
                    }
                }
                img{
                    transition: all .3s ease-in-out;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                }
                .details{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    background: rgba(208, 152, 133, 0.968);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 6px 0;
                    text-transform: capitalize;
                    font-family:poppins;
                    .name{
                        text-transform: uppercase;
                    }
                    .jop{
                        font-family: oswald;
                        color: rgba(0, 0, 0,.61);
                    }
                }
            }
            .card.last{
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(100,0,0,.21);
                span{
                    transition:all .4s ease-in-out;
                    font-size: 140px;
                    color: red;
                }
                &:hover{
                    span{
                        transform: translateY(-50px);
                    }
                }
            }
        }
    }
}








@media (max-width:1024px) {
    .about .container {
        max-width: 700px;
        .flex{
            flex-direction: column;
        }
    }
}