.email{
    background: white;
    color: black;
    .container{
        .flex{
            .div1{
               .h1{
                   color: black;
                   margin-bottom: 30px;
               }
               div{
                   margin: 0;
                   p{
                       color: rgba(0, 0, 0, 0.671);
                       margin: 0;
                       padding: 0;
                       font-size: 14px;
                   }
                   .h{
                    font-weight: 700;
                    text-transform: uppercase;
                    margin: 1px;
                    padding: 0;
                    font-family: arial;
                    margin-top: 10px;
                    color: black;
                   }
               }
               
           }
           .div2{
               h1{
                   color: black;
               }
               p{
                   color: black;
                   opacity: .7;
               }
               button{
                   border-color: rgba(0, 0, 0, 0.3);
               }
           }
        }
    }
}