.webdesign-showcase{
    height: 60vh;
    background: linear-gradient(rgba(0, 0, 0,.73),rgba(0, 0, 0,.73)),
    url(https://media.istockphoto.com/photos/web-design-layout-sketch-drawing-software-media-www-and-graphic-picture-id827896866?b=1&k=20&m=827896866&s=170667a&w=0&h=Ro5xUyRB0z2-tyVXht5UwG_dWhgEg8bL4tg5jgGU1xg=) no-repeat center center/cover;
}
.questions,
.questions2{
    padding: 60px 0;
    background: rgba(0, 0, 0,.05);
    .container{
        max-width: 900px;
        .title{
            h1{
                font-size: 45px;
            }
        }
        .inner{
            h2{
                text-transform: uppercase;
                margin: 20px 0; 
                font-size: 30px;
            }
            p{
                line-height: 1.6;
                color: rgba(0, 0, 0,.73);
                font-family: arial;
                // margin-bottom: 20px;
                span{
                    color:red;
                    font-weight: bold;
                }
            }
        }
    }
}
.questions2{
    background: white;
}

.web-designers{
    background: $darkColor;
    color: white;
    padding: 60px 0;
    .container{
        .paragraph{
            text-align: center;
            color: rgba(255, 255, 255, 0.779);
            font-family: arial;
            line-height: 1.6;
            max-width: 700px;
            margin: 0 auto 80px;
            h4{
                font-weight: 700;
                margin-bottom: 10px;
                text-transform: uppercase;
                color: orange;
            }
        }
        .grid{
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
            // gap: 20px;
            // row-gap: 30px;
            .card{
                padding:30px;
                text-align: center;
                &:hover{
                    background: #1d2347;
                }
                span{
                    margin-bottom: 20px;
                    height: 50px;
                    width: 50px;
                    background: white;
                }
                h2{
                    margin-bottom: 20px;
                    text-transform: uppercase;
                }
                p{
                    color: rgba(255, 255, 255, 0.797);
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
            }
        }
    }

}

.flex-image{
    padding: 50px 0;
    .container{
        .flex{
            display: flex;
            gap: 30px;
            .image-container{
                flex: 1;
                overflow: hidden;
                height: 340px;
                background: blue;
                position: relative;
                img{
                 width: 100%;
                 height: 100%;
                 object-fit: cover;
                }
            }
            .text{
                flex: 1;
                h2{
                    font-size: 46px;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }
                p{
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    line-height: 1.5;
                }
            }
        }
    }
}

// testimonials
.testimonials{
    position: relative;
    .btn{
        position: absolute;
        top: 0;
        width: 6vw;
        height: 100%;
        border: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 99;
        cursor: pointer;
    }
    .btn.prev{
        background: linear-gradient( to right, rgb(231, 230, 230),rgba(255, 255, 255, 0.2));
        left: 0;
    }
    .btn.next{
        background: linear-gradient(to left, rgb(231, 230, 230),rgba(255, 255, 255, 0.2));
        right: 0;
    }
    .wrapper{
        padding: 0 5vw;
        display: flex;
        overflow-x: auto;
        position: relative;
        // transition: all .3s ;
        scroll-behavior: smooth;
        .card{
            flex:  0 0 auto;
            width: 50%;
            overflow: hidden;
            margin-right: 60px;
            text-align: center;
            padding: 0 20px;
            img{
                width: 70px;
                height: 70px;
                object-fit: cover;
                border-radius: 100%;
                border: 1px solid rgba(0, 0, 0,.43);
                margin-bottom: 10px;
            }
            i{
                font-size: 30px;
                margin: 10px 0;
            }
            .text{
                p{
                    opacity: .7;
                }
                .details{
                    margin-bottom: 40px;
                }
            }
        }
    }
    .wrapper::-webkit-scrollbar{
        display: none;
    }
}


.users{
    background: $darkColor;
    padding: 50px 0;
    color: white;
    text-align: center;
    .container{
        .grid{
            display: grid;
            gap: 20px;
            row-gap: 40px;
            grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
            .card{
                i{
                    font-size: 40px;
                    margin-bottom: 10px;
                    color: orange;
                }
                h4{
                    margin-bottom: 10px;
                    font-size: 35px;
                    font-weight: normal;
                    font-family: serif;
                }
                h3{
                    text-transform: uppercase;
                }
            }
        }
    }
}

@media (max-width:991px) {
    .flex-image{
        .container{
            max-width: 700px;
            .flex{
                flex-direction: column;
                .image-container{
                    overflow: hidden;
                    flex:  0 0 auto;
                    height: 200px;
                }
            }
        }
    }
    .questions,.questions2 {
        .container {
            
            .title h1{
                font-size: 30px;
            }
            .inner h2{
                font-size: 21px;
            }
        }
    }
}