@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nunito&family=Oswald:wght@300;400;500;700&family=Poppins:wght@400;500&family=Satisfy&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-X: hidden;
}

body {
  font-family: 'Oswald', sans-serif;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

i {
  pointer-events: none;
}

.title {
  font-size: 30px;
  margin: 40px 0;
  text-transform: uppercase;
}

.title span {
  color: purple;
}

@media (max-width: 991px) {
  .title {
    font-size: 25px;
  }
}

@media (max-width: 601px) {
  .title {
    font-size: 20px;
  }
}

.header {
  background: rgba(0, 0, 0, 0.189);
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .logo {
  color: black;
  font-size: 28px;
  font-weight: 800;
}

.header .container .nav-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.header .container .nav-links ul li {
  margin: 0 10px;
  padding: 4px;
}

.header .container .nav-links ul li a {
  color: #101056;
  font-size: 18px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .container .nav-links ul li a:hover {
  color: black;
  border-bottom: 2px solid black;
}

.header .container .nav-links ul li a.active {
  border-bottom: 1px solid purple;
  color: #ab0dab;
}

.header .container .menu-bar {
  padding: 6px 10px;
  background: transparent;
  border: 1px solid black;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 15px;
  display: none;
  border: 1px solid black;
  color: white;
  height: 40px;
  width: 40px;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 56% 100%, 0 75%, 0 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 56% 100%, 0 75%, 0 25%);
  background: #000;
}

.header .container .menu-bar:hover {
  background: black;
  color: white;
  border: 1px solid white;
}

.header .container .menu-bar:hover {
  background: #600303;
}

@media (max-width: 891px) {
  .header .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header .container .logo {
    margin-bottom: 20px;
  }
  .header .container .nav-links {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .header .container .nav-links ul {
    display: block;
    width: 100%;
  }
  .header .container .nav-links ul li {
    width: 100%;
    margin: 0;
    padding: 10px 10px;
    border-bottom: 1px solid white;
  }
  .header .container .nav-links ul li:hover {
    background: rgba(255, 255, 255, 0.607);
  }
  .header .container .nav-links ul li a:hover {
    border: 0;
  }
  .header .container .nav-links.remove {
    height: 100%;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .header .container .menu-bar {
    display: block;
    position: absolute;
    right: 40px;
    top: 20px;
  }
}

.showcase {
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(/img/Home.jpg) no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/Home.jpg) no-repeat center center/cover;
}

.showcase .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.showcase .container h1 {
  font-size: 65px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .showcase .container h1 {
    font-size: 55px;
  }
}

@media (max-width: 776px) {
  .showcase .container h1 {
    font-size: 45px;
  }
}

@media (max-width: 576px) {
  .showcase .container h1 {
    font-size: 39px;
  }
}

.footer {
  padding: 20px 0;
  background: black;
  color: white;
}

.footer .container {
  max-width: 1300px;
}

.footer .container .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  row-gap: 40px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.footer .container .grid .col h2 {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.footer .container .grid .col ul li {
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  font-size: 15;
  margin-bottom: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .container .grid .col ul li .icon {
  height: 30px;
  width: 30px;
  background: orange;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8px;
  color: black;
  opacity: 1;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 56% 100%, 0 75%, 0 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 56% 100%, 0 75%, 0 25%);
}

.footer .container .grid .col p.underline {
  color: orange;
  margin-bottom: 8px;
  border-bottom: 1px solid orange;
  display: inline-block;
}

.footer .container .grid .col:first-child p {
  font-family: poppins, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.6;
  opacity: .6;
  color: rgba(255, 255, 255, 0.4);
  text-align: left;
  font-style: normal;
}

.footer .container .line {
  width: 95%;
  height: 1px;
  background: rgba(255, 255, 255, 0.09);
}

.footer .container p:last-child {
  text-align: center;
  padding-top: 8px;
  color: orange;
  letter-spacing: .8px;
  font-style: italic;
}

.about-showcase {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(/img/about.jpg) no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/about.jpg) no-repeat center center/cover;
}

.title {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

.about {
  padding: 80px 0 100px;
  overflow: hidden;
}

.about .container .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.about .container .flex img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about .container .flex .text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 1.7;
  font-family: poppins;
  overflow-y: hidden;
}

.about .container .flex .text p {
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.73);
}

.team {
  padding: 100px 0;
}

.team .container {
  max-width: 1000px;
}

.team .container .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.team .container .grid .card {
  height: 300px;
  background: rgba(0, 0, 0, 0.1);
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.team .container .grid .card:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.team .container .grid .card img {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.team .container .grid .card .details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(208, 152, 133, 0.968);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 0;
  text-transform: capitalize;
  font-family: poppins;
}

.team .container .grid .card .details .name {
  text-transform: uppercase;
}

.team .container .grid .card .details .jop {
  font-family: oswald;
  color: rgba(0, 0, 0, 0.61);
}

.team .container .grid .card.last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(100, 0, 0, 0.21);
}

.team .container .grid .card.last span {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  font-size: 140px;
  color: red;
}

.team .container .grid .card.last:hover span {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

@media (max-width: 1024px) {
  .about .container {
    max-width: 700px;
  }
  .about .container .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.work-showcase {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(/img/Work.jpg) no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/Work.jpg) no-repeat center center/cover;
}

.work .container .grid .card {
  overflow: hidden;
}

.work .container .grid .card h3 {
  line-height: 1.6;
}

.work .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-bottom: 40px;
}

.work .btns .btnFilter {
  padding: 10px;
  text-transform: uppercase;
  border: 0;
  background: transparent;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.63);
  cursor: pointer;
}

.work .btns .btnFilter.active {
  font-weight: bold;
  color: #000;
  background: rgba(0, 0, 0, 0.33);
}

.bussiness {
  padding: 50px 0;
  background: rgba(0, 0, 0, 0.7);
}

.bussiness .container .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.bussiness .container .flex .div1, .bussiness .container .flex .div2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.bussiness .container .flex .div1 .h1 {
  text-transform: uppercase;
  color: white;
  font-size: 35px;
}

.bussiness .container .flex .div1 p {
  color: rgba(255, 255, 255, 0.701);
  line-height: 1.6;
  font-family: sans-serif;
  margin: 20px 0;
  text-transform: capitalize;
}

.bussiness .container .flex .div1 span {
  color: orange;
  text-transform: uppercase;
  font-size: 40px;
}

.bussiness .container .flex .div1 h5 {
  color: rgba(255, 255, 255, 0.837);
  font-family: sans-serif;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bussiness .container .flex .div1 h2 {
  color: white;
  font-size: 35px;
}

.bussiness .container .flex .div2 span {
  color: orange;
}

.bussiness .container .flex .div2 h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: .9px;
  word-spacing: 1.5px;
  margin-bottom: 20px;
}

.bussiness .container .flex .div2 form .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-bottom: 10px;
  gap: 10px;
}

.bussiness .container .flex .div2 form .grid input {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
  color: rgba(0, 0, 0, 0.63);
}

.bussiness .container .flex .div2 form textarea {
  padding: 15px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
  font-family: sans-serif;
}

.bussiness .container .flex .div2 form textarea::-webkit-input-placeholder {
  letter-spacing: .7px;
}

.bussiness .container .flex .div2 form textarea:-ms-input-placeholder {
  letter-spacing: .7px;
}

.bussiness .container .flex .div2 form textarea::-ms-input-placeholder {
  letter-spacing: .7px;
}

.bussiness .container .flex .div2 form textarea::placeholder {
  letter-spacing: .7px;
}

.bussiness .container .flex .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(250, 250, 250, 0.73);
  font-family: arial;
  font-size: 15px;
  margin: 10px 0;
  padding-left: 10px;
}

.bussiness .container .flex .btn {
  padding: 12px 28px;
  background: transparent;
  border: 1px solid black;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.87);
  border-color: white;
  display: block;
  width: 100%;
}

.bussiness .container .flex .btn:hover {
  background: black;
  color: white;
  border: 1px solid white;
}

@media (max-width: 776px) {
  .bussiness .container {
    max-width: 600px;
  }
  .bussiness .container .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bussiness .container .flex .div1 .h1,
  .bussiness .container .flex .div1 h2 span,
  .bussiness .container .flex .div2 h1,
  .bussiness .container .flex .div1 .h1 span {
    font-size: 25px;
  }
  .work .container .btns {
    gap: 10px;
  }
  .work .container .btns button {
    font-size: 13px;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}

.webdesign-showcase {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(/img/web.jpg) no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/web.jpg) no-repeat center center/cover;
}

.questions,
.questions2 {
  padding: 60px 0;
  background: rgba(0, 0, 0, 0.05);
}

.questions .container,
.questions2 .container {
  max-width: 900px;
}

.questions .container .title h1,
.questions2 .container .title h1 {
  font-size: 45px;
}

.questions .container .inner h2,
.questions2 .container .inner h2 {
  text-transform: uppercase;
  margin: 20px 0;
  font-size: 30px;
}

.questions .container .inner p,
.questions2 .container .inner p {
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.73);
  font-family: arial;
}

.questions .container .inner p span,
.questions2 .container .inner p span {
  color: red;
  font-weight: bold;
}

.questions2 {
  background: white;
}

.web-designers {
  background: #161a33;
  color: white;
  padding: 60px 0;
}

.web-designers .container .paragraph {
  text-align: center;
  color: rgba(255, 255, 255, 0.779);
  font-family: arial;
  line-height: 1.6;
  max-width: 700px;
  margin: 0 auto 80px;
}

.web-designers .container .paragraph h4 {
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: orange;
}

.web-designers .container .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.web-designers .container .grid .card {
  padding: 30px;
  text-align: center;
}

.web-designers .container .grid .card:hover {
  background: #1d2347;
}

.web-designers .container .grid .card span {
  margin-bottom: 20px;
  height: 50px;
  width: 50px;
  background: white;
}

.web-designers .container .grid .card h2 {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.web-designers .container .grid .card p {
  color: rgba(255, 255, 255, 0.797);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex-image {
  padding: 50px 0;
}

.flex-image .container .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.flex-image .container .flex .image-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  height: 340px;
  background: blue;
  position: relative;
}

.flex-image .container .flex .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.flex-image .container .flex .text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-image .container .flex .text h2 {
  font-size: 46px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.flex-image .container .flex .text p {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
}

.testimonials {
  background: rgba(0, 0, 0, 0.05);
  padding: 50px 0;
  position: relative;
}

.testimonials .container {
  padding: 0 10vw;
}

.testimonials .container .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  position: relative;
}

.testimonials .container .wrapper .card {
  text-align: center;
  padding: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
  margin-right: 40px;
}

.testimonials .container .wrapper .card img {
  height: 100px;
  width: 100px;
  -webkit-box-shadow: 4px 4px #2e0d0d;
          box-shadow: 4px 4px #2e0d0d;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-bottom: 20px;
}

.testimonials .container .wrapper .card .text i {
  font-size: 40px;
  background: white;
  height: 80px;
  width: 80px;
}

.testimonials .container .wrapper .card .text p {
  opacity: .8;
}

.testimonials .container .wrapper .card .text .details {
  margin-top: 30px;
}

.testimonials .container .wrapper .card .text .details h4 {
  font-weight: bold;
  text-transform: uppercase;
}

.testimonials .container .wrapper .card .text .details p {
  opacity: .6;
  font-style: italic;
  font-size: 14px;
}

.testimonials .container .wrapper::-webkit-scrollbar {
  display: none;
}

.testimonials .container .title .btn {
  position: absolute;
  width: 10vh;
  height: 100px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.btn.next {
  right: 0;
}

.btn.prev {
  left: 0;
}

.users {
  background: #161a33;
  padding: 50px 0;
  color: white;
  text-align: center;
}

.users .container .grid {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  row-gap: 40px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.users .container .grid .card i {
  font-size: 40px;
  margin-bottom: 10px;
  color: orange;
}

.users .container .grid .card h4 {
  margin-bottom: 10px;
  font-size: 35px;
  font-weight: normal;
  font-family: serif;
}

.users .container .grid .card h3 {
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .flex-image .container {
    max-width: 700px;
  }
  .flex-image .container .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex-image .container .flex .image-container {
    overflow: hidden;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    height: 200px;
  }
  .questions .container .title h1, .questions2 .container .title h1 {
    font-size: 30px;
  }
  .questions .container .inner h2, .questions2 .container .inner h2 {
    font-size: 21px;
  }
}

.development-showcase {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(/img/development.jpg) no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/development.jpg) no-repeat center center/cover;
}

.development-flex-image .container .flex .image-container {
  height: 600px;
}

.development-flex-image .container .flex .text ul {
  margin: 10px;
}

.development-flex-image .container .flex .text ul li {
  opacity: .8;
  font-family: sans-serif;
  margin-bottom: 8px;
  padding-left: 15px;
  position: relative;
}

.development-flex-image .container .flex .text ul li::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #000;
  height: 5px;
  width: 5px;
}

.development-flex-image .container .flex .text button {
  padding: 14px 28px;
  background: transparent;
  border: 1px solid black;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 40px;
}

.development-flex-image .container .flex .text button:hover {
  background: black;
  color: white;
  border: 1px solid white;
}

.application {
  background: rgba(0, 0, 0, 0.01);
  padding: 60px 0;
}

.application .container .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
}

.application .container .grid .card {
  padding: 40px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.application .container .grid .card:hover {
  background: rgba(0, 0, 100, 0.03);
}

.application .container .grid .card i {
  font-size: 45px;
  margin-bottom: 20px;
  color: purple;
}

.application .container .grid .card h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.application .container .grid .card p {
  line-height: 1.6;
  opacity: .7;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 991px) {
  .development-flex-image .container {
    max-width: 700px;
  }
  .development-flex-image .container .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .development-flex-image .container .flex .image-container {
    height: 400px;
    overflow: hidden;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .development-flex-image .container .flex .text h2 {
    font-size: 29px;
  }
}

.marketing-showcase {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(/img/marketing.jpg) no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/marketing.jpg) no-repeat center center/cover;
}

.marketing {
  background: rgba(0, 0, 0, 0.04);
}

.marketing .container .flex .image-container {
  height: 550px;
}

.marketing .container .flex .text ul {
  margin: 10px;
}

.marketing .container .flex .text ul li {
  opacity: .8;
  font-family: sans-serif;
  margin-bottom: 8px;
  padding-left: 15px;
  position: relative;
}

.marketing .container .flex .text ul li::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #000;
  height: 5px;
  width: 5px;
}

.marketing .container .flex .text button {
  padding: 14px 28px;
  background: transparent;
  border: 1px solid black;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 40px;
}

.marketing .container .flex .text button:hover {
  background: black;
  color: white;
  border: 1px solid white;
}

@media (max-width: 991px) {
  .flex-image .container {
    max-width: 700px;
  }
  .flex-image .container .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex-image .container .flex .image-container {
    height: 400px;
    overflow: hidden;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

.home-services .container {
  max-width: 1000px;
}

.home-services .container .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(340px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 20px;
  row-gap: 50px;
}

.home-services .container .grid .card {
  padding: 10px 25px;
  background: rgba(0, 0, 0, 0.12);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  border: 1px solid transparent;
}

.home-services .container .grid .card i {
  font-size: 40px;
  margin-top: 20px;
  color: purple;
}

.home-services .container .grid .card h2 {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.home-services .container .grid .card p {
  color: rgba(0, 0, 0, 0.72);
  line-height: 1.7;
  font-family: poppins;
}

.home-services .container .grid .card .btn-service {
  padding: 12px 18px;
  background: transparent;
  border: 1px solid black;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  margin: 20px 0;
}

.home-services .container .grid .card .btn-service:hover {
  background: black;
  color: white;
  border: 1px solid white;
}

.home-services .container .grid .card:hover {
  border: 1px solid rgba(0, 0, 0, 0.52);
}

.work {
  padding: 50px 0;
}

.work .container {
  max-width: 90%;
  margin: 0 auto;
}

.work .container .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.work .container .grid .card {
  height: 350px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.work .container .grid .card img {
  height: 250px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.work .container .grid .card h3 {
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.6;
}

.work .container .grid .card:hover img {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.blog {
  padding-bottom: 50px;
}

.blog .container .title {
  text-transform: uppercase;
  text-align: center;
}

.blog .container .para {
  text-align: center;
  margin-bottom: 60px;
}

.blog .container .para p {
  line-height: 1.6;
  margin-bottom: 30px;
  font-family: poppins;
  color: rgba(0, 0, 0, 0.62);
}

.blog .container .para button {
  padding: 12px 34px;
  background: transparent;
  border: 1px solid black;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
}

.blog .container .para button:hover {
  background: black;
  color: white;
  border: 1px solid white;
}

.blog .container .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.blog .container .grid .card {
  border: 1px solid rgba(0, 0, 0, 0.18);
  height: 550px;
}

.blog .container .grid .card img {
  height: 250px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.blog .container .grid .card div {
  padding: 20px;
}

.blog .container .grid .card div h2 {
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.blog .container .grid .card div p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
}

.blog .container .grid .card:hover img {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.blog .container .grid .card:hover h2 {
  color: #b31414;
}

.grow {
  background: rgba(0, 0, 0, 0.62);
}

.grow .container {
  max-width: 100%;
  padding: 0;
}

.grow .container .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grow .container .flex img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 500px;
}

.grow .container .flex .text {
  text-transform: uppercase;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
}

.grow .container .flex .text h2, .grow .container .flex .text p {
  font-size: 35px;
  font-weight: bold;
  color: white;
}

.grow .container .flex .text .btn {
  padding: 12px 18px;
  background: transparent;
  border: 1px solid black;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  display: block;
  margin: 20px 0;
  color: white;
  border-color: white;
  background: rgba(0, 0, 0, 0.844);
}

.grow .container .flex .text .btn:hover {
  background: black;
  color: white;
  border: 1px solid white;
}

.grow .container .flex .text .btn:hover {
  background: white;
  color: #000;
}

.grow .container .flex span {
  color: orange;
}

@media (max-width: 726px) {
  .work .container .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 866px) {
  .grow .container .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grow .container .flex .text {
    padding: 0 20px;
  }
  .grow .container .flex img {
    width: 100%;
    height: 200px;
  }
}

@media (max-width: 566px) {
  .grow .container .flex .text h2,
  .grow .container .flex .text p {
    font-size: 22px;
  }
}

.email {
  background: white;
  color: black;
}

.email .container .flex .div1 .h1 {
  color: black;
  margin-bottom: 30px;
}

.email .container .flex .div1 div {
  margin: 0;
}

.email .container .flex .div1 div p {
  color: black;
}

.email .container .flex .div1 div p:first-child {
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.6;
  margin: 1px;
  padding: 0;
}
/*# sourceMappingURL=main.css.map */